

a {
  color: #00B7FF;
}

.centered {
  
  border-radius: 5px;
  width: 400px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin-top: 20px;
}
/*

label {
  display: inline-block;
  width:50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
label.yellow {
  background:yellow;
}
label.light-blue {
  background:lightblue;
}
label.blue {
  background:blue;
}
label.white {
  background:white;
}
label.gray {
  background:gray;
}
label.purple {
  background:purple;
}
label.orange {
  background:orange;
}
label.black {
  background:black;
}
label.red {
  background:red;
}
label.pink {
  background:pink;
}
label.turquoise {
  background:turquoise;
}
label.light-green {
  background:lightgreen;
}
label.green {
  background:green;
}

input[type="radio"] {
  visibility: hidden;
}

*/

.labelStyle {
  font-weight: bold;
  background-color: rgb(255, 255, 255);; 
  color: black; 
  border-style: solid;
  border-color: black;
  text-align: center;
}

.labelStyle.Estados {
  width: 300px;
}

.city {
  width: 300px;
}

.txtCity {
  border: 1px solid black; 
  width: 75%;
  top: 275px; 
  left: 12%;
  height: 25px;
}

.pre {
  width: 300px;
}

.cmbEstados {
  
  width: 75%;
}

input[type="file"] {
  
  display: none;
}

.labelStyle.custom-file-upload {
  width: 250px;
  padding: 6px 12px;
  cursor: pointer;
  height: 50px;
}

.txtFile {
  border: 1px solid black; 
  width: 50%;
  margin-bottom: 30px;
  height: 25px;
}

.info{
  position:relative;
  top: 200px;
  left: 50px;
}

.constancia {
  position: relative;
  z-index: 101;
  border: solid;
  border-width: 2px;
  border-color: black;
  width: 620px;
  height: 440px;
}


.loader-container
{
  align-content: center;
  position: absolute;
  top: 0;
  text-align: center;
  z-index: 1000;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgb(124, 124, 124, 0.5);

}

.loader {
  position: relative;
  left: 45%;
  top: 40%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.alert {
  padding: 20px;
  margin: 20px;
  top: 40%;
  width: auto;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s; 
  
}

.closebtn:hover {
  color: black;
}

.alert.success {
  background-color: #04AA6D;
  
}

.gradientBC {
  height: 100%;
  margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
  background: rgb(144,0,0);
  background: linear-gradient(137deg, rgba(144,0,0,1) 0%, rgba(255,0,0,1) 50%, rgba(0,0,0,1) 100%); 
}

.btnGenerate {
  background-color: rgb(214, 0, 0); 
  color: white; 
  border-style: none; 
  width: 220px; 
  height: 50px;
  -webkit-box-shadow: -4px -2px 5px 0px rgba(171,171,171,1);
-moz-box-shadow: -4px -2px 5px 0px rgba(171,171,171,1);
box-shadow: -4px -2px 5px 0px rgba(171,171,171,1);
}

.main {
  margin-top: 25px; 
  background-color: white;
}

.buttonsContainer {
  display: flex; 
  justify-content: center;  
  padding-bottom: 35px;
}

.leftLabel {
  height: 60px; 
  justify-content: center; 
  margin-top: 10px;
}

.leftImage {
  height: 260px; 
  justify-content: center;
}

.imageStyle {
  margin-top: 20px; 
  width: 250px; 
  height: 200px;
}

.rightLabel {
  margin-top: 10%; 
  margin-left: 25px;
}

.switches {
  margin-left: 37px;
  padding-bottom: 5px;
}

h1 {
  font-family: 'Fjalla One';
}